<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Le BestYear{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/base.css') }}" type="text/css" />
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}" />
        <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
    </head>
    <body>
        <div id="header">
            <a href="{{ path('bestyear_main_homepage') }}"><div id="logo"></div></a>
            <div id="searchBar">
                <div id="searchIcon"></div>
            </div>
            <div id="myProfile">
                <div id="userName">Jane Doe</div>
                <div id="userLogo"></div>
            </div>
        </div>
        <div id="layout">
            <div id="leftBar">
                <div id="leftWhiteArrow"></div>
                <a href="#home">
                    <div id="homeLeftBar">
                        <div id="homeIcon"></div>
                    </div>
                </a>
                <a href="#list">
                    <div id="listLeftBar">
                        <div id="listIcon"></div>
                    </div>
                </a>
                <a href="#user">
                    <div id="searchUserLeftBar">
                        <div id="searchUserIcon"></div>
                    </div>
                </a>
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="footer">
            © <a href="theotimeloiseau.com">Théotime Loiseau</a> - 2013<br/>
        </div>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
