{% extends '::baseForm.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bestyearuser/css/informPage.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
    <h1>Inscription</h1>
    <div class="line"></div>
    <div id="form">
        Un e-mail a été envoyé à l'adresse  {{ user.email }}. Il contient un lien d'activation sur lequel il vous faudra cliquer afin d'activer votre compte.<br/>
        <span class="icon icon-single mail icon-grey icon-160"></span>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}