{% extends '::baseForm.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bestyearuser/css/informPage.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
    <h1>Inscription</h1>
    <div class="line"></div>
    <div id="form">
        Félicitations {{ user.givenname }}, votre compte est maintenant activé.<br/>
        <span class="icon icon-single check icon-green icon-160"></span><br/>
        <a href="{{ path('bestyear_main_homepage') }}"><input type="button" class="button basicButton" value="Retour à l'accueil"/></a>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}