.welcome {
    font-family: "MavenProBold", "Century Gothic";
    padding-left: 20px;
    padding-right: 20px;
}

.welcome h1 {
    font-weight: normal;
    color: #434343;
}

.welcome h2 {
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 22px;
}

.birthdayUsers td {
    width: 270px;
}

.birthdayUsers .picUser {
    position: absolute;
    width: 32px;
    height: 37px;
    padding-left: 10px;
    padding-top: 5px;
    
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: none;
}

.birthdayUsers .picUser.male {
    background: #22c2cc;
}

.birthdayUsers .picUser.female {
    background: #e61aa0;
}

.birthdayUsers .infoUser {
    margin-left: 48px;
    font-size: 20px;
}

.birthdayUser {
    padding-left: 10px;
    height: 52px;
    padding-top: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    transition: background 0.5s ease;
    cursor: pointer;
}

.birthdayUser:hover {
    background: rgb(236,236,236);
}

.loadingWheel {
    display: none;
    position: absolute;
    background: url("../images/loader.gif") no-repeat;
    background-size: 50px;
    width: 50px;
    height: 50px;
    margin: auto;
    top: 100px;
    left: 420px;
}