#welcome {
    font-family: "MavenProBold", "Century Gothic";
    padding-left: 20px;
    padding-right: 20px;
}

#welcome h1 {
    font-weight: normal;
    color: #434343;
}

#listLeftBar, #searchUserLeftBar {
    display: none;
    opacity: 0;
}

#userList h2 {
    font-family: "MavenProLight", "Century Gothic";
}

#welcome h2 {
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 22px;
}