.userList {
    opacity: 0;
    display: none;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.userList:before,
.userList:after {
    content: " ";
    display: table;
}

.userList:after {
    clear: both;
}

#leftColumn, #rightColumn {
    float: left;
    width: 425px;
}

.userList .circle {
    width: 110px;
    height: 110px;
    border-radius: 60px;
    margin-bottom: 20px;
}

.userList .male {
    background: #22c2cc;
}

.userList .female {
    background: #e61aa0;
}

.userList .frameUserPicture {
    width: 75px;
    height: 75px;
    position: relative;
    left: 18px;
    top: 18px;
}

.userList .userPicture {
    width: 75px;
    height: 75px;
    float: left;
    margin-top: 18px;
    margin-left: 18px;
}

.userList .female .frameUserPicture {
    background: url("../images/userList/cadre-user-list-female.png") no-repeat;
}

.userList .male .frameUserPicture {
    background: url("../images/userList/cadre-user-list-male.png") no-repeat;
}

.userList .infosSummary {
    margin-left: 10px;
}

.userList .name {
    font-family: "MavenProBold", "Century Gothic";
    font-size: 26px;
}

.userList .other {
    font-family: "MavenProLight", "Century Gothic";
    font-size: 20px;
}

.userList .userBigIcon {
    width: 45px;
    height: 41px;
    background: url("../images/user-icon-big.png") no-repeat;
    position: relative;
    left: 32px;
    top: 34px;
}

.userPreview {
    cursor: pointer;
}

.userList h2 {
    font-family: "MavenProLight", "Century Gothic";
}

#noresult {
    font-family: "MavenProBold", "Century Gothic";
    font-size: 22px;
    margin-left: 10px;
    font-weight: bold;
}