#userPane {
    width: 190px;
    background: rgba(0,0,0,0.75);
    position: absolute;
    margin-left: 810px;
    margin-top: 80px;
    z-index: 1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: none;
    opacity: 0;
}

#userPane ul {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
}

#userPane li {
    width: 190px;
    font-family: "MavenProLight", "Century Gothic";
    font-size: 18px;
    color: white;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

#userPane li:hover {
    background: #22c2cc;    
}

#userPane a {
    text-decoration: none;
}

#userLogo {
    cursor: pointer;
}

#userIcon {
    float: left;
    width: 21px;
    height: 19px;
    background: url("../images/user-icon-white.png") no-repeat;
    margin-left: 20px;
    margin-right: 5px;
}

#gearIcon {
    float: left;
    width: 21px;
    height: 21px;
    background: url("../images/gear-icon-white.png") no-repeat;
    margin-left: 20px;
    margin-right: 5px;
}

#logoutIcon {
    float: left;
    width: 20px;
    height: 21px;
    background: url("../images/logout-icon-white.png") no-repeat;
    margin-left: 20px;
    margin-right: 5px;
}

.text {
    padding-top: 3px;
}