{% block subject %}Bienvenue sur le Bestyear!{% endblock %}

{% block body_text %}
{% endblock %}


{% block body_html %}
    <!--<style>
        body {
            background: rgb(236,236,236);
            height: 100%;
            margin: 0px;
        }
        #footer a:hover {
            color: #22C2CC;
        }
    </style>-->
    <div style="background: rgb(236,236,236);
            width: 100%;
            height: 100%;
            margin: 0px;">
    <div id="header" style="height: 89px;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;">
        <a target="_blank" href="http://www.bestyear.theotimeloiseau.com"><div id="logo" style="display: block; width: 180px; height: 89px; background: url('http://www.bestyear.theotimeloiseau.com/web/images/logo.png') no-repeat; margin: auto;"></div></a>
    </div>
    <div id="layout" style="padding: 0 10px; max-width: 400px; width: auto; margin: auto;">
        <div id="content" style="width: auto;
            min-height: 200px;
            background: white;
            border: 1px solid #cecece;
            word-wrap: break-word;">
            <h1 style="font-family: 'Century Gothic', sans-serif; font-size: 30px; text-align: center;
            margin-top: 12px;
            margin-bottom: 10px;
            font-weight: normal;">Inscription</h1>
            <div class="line" style="width: 100%;
            height: 4px;
            background: url('http://www.bestyear.theotimeloiseau.com/web/images/signIn-line.png') repeat-x;
            margin-bottom: 20px;"></div>
            <div id="form" style="padding: 0 20px 20px 20px; font-size: 16px;font-family: 'Century Gothic', sans-serif;">
            Bonjour {{ user.username }} !<br/>
            <br/>
            Pour valider votre compte utilisateur, merci de vous rendre sur <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a><br/>
            <br/>
            Cordialement,<br/><br/>
            Le Bestyear
            </div>
        </div>
    </div>
    <div id="footer" style="max-width: 1000px;
            width: auto;
            margin: 10px auto;
            text-align: center;
            font-family: 'Century Gothic', sans-serif;
            font-size: 14px;">
        © <a target="_blank" href="http://www.theotimeloiseau.com" style="color: #000; text-decoration: none;">Théotime Loiseau</a> - 2014<br>
    </div>
    </body>
{% endblock %}
