#layout {
    width: 470px;
}

#content {
    margin-left: 70px;
    min-height: 400px;
}

#leftBar {
    float:left;
    width: 70px;
    height: 100%;
    margin-top: 50px;
}

#leftWhiteArrow {
    width: 15px;
    height: 47px;
    float: left;
    position:absolute;
    margin-left: 56px;
    margin-top: 16px;
    background: url("../images/left-arrow.png") no-repeat;
}

.bubble {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 25px;
    margin-top: 15px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.numbers {
    font-family: "MavenProLight", "Century Gothic";
    font-size: 26px;
    color: #434343; 
    padding-left: 19px;
    padding-top: 10px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.complete .numbers {
    color: white;
}

.bubble.complete {
    background-color: #24c761;
}

.current .numbers {
    color: white;
}

.current.bubble {
    background-color: #22c2cc;
}

.errorBubble.bubble {
    background-color: #d2664f;
}

#leftBar a {
    text-decoration: none;
}

#form {
    margin: auto;
    text-align: center;
    font-family: "MavenProBold", "Century Gothic";
}

h2 {
    text-align: left;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 8px;
    font-weight: normal;
}

#username {
    width: 200px;
    margin-left: -20px;
}

#usernameSpan .error {
    margin-left: 228px;
}

.postcodeSpan .error {
    margin-left: 108px;
}

.streetnumberSpan .error {
    margin-left: 74px;
}

#step1 {
    opacity: 1;
}

#step2, #step3, #step4, #step5 {
    display: none;
    opacity: 0;
}

#streetnumber1, #streetnumber2 {
    width: 44px;
}

#street1, #street2 {
    width: 240px;
}

#postcode1, #postcode2 {
    width: 80px;
}

#city1, #city2 {
    width: 204px;
}

#birthdate {
    width: 150px;
    margin-left: 12px;
}