#leftWhiteArrow {
    margin-top: 100px;
}

#userLeftBar {
    width: 89px;
    height: 80px;
    background: #24c761;
}

#userLeftIcon {
    width: 39px;
    height: 31px;
    background: url("../images/list-icon.png") no-repeat;
    position: relative;
    top: 25px;
    left: 25px;
}

#userProfile {
    display: block;
    opacity: 1;
}