{% extends '::baseForm.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bestyearuser/css/checkEmail.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
    <h1>Mot de passe oublié</h1>
    <div class="line"></div>
    <div id="form">
        Un nouveau mot de passe a déjà été demandé pour cet utilisateur dans les dernières 24 heures.
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}