{% extends '::baseForm.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bestyearuser/css/informPage.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
    <h1>Mot de passe oublié</h1>
    <div class="line"></div>
    <div id="form">
        {% if invalid_username is defined %}
            <div id="errorBar">Login ou email invalide</div>
        {% endif %}
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
            <span class="">
                <input type="text" id="username" name="username" placeholder="Login UTC ou adresse email UTC" required/>
            </span><br/>
            <input type="submit" id="submit" name="_submit" class="button" value="Valider"/>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}